<div>
	<h1>Lista de Usuarios :v</h1>
	<button style= "float:rigth" onclick = "window.location='{% url "nuevo" %}'">Agregar Usuario </button>
		{% for user in usuarios %}
		<h3> {{user.nombre}} {{user.apellidos}}</h3>
		<form method="POST">
			{% csrf_token %}
			<input type = "submit" value = "eliminar" onclick = "return confirm ('Deseas eliminar el usuario: {{user}}');">
			<input type="hidden" name= "idEliminar" value="{{user.id}}">
		</form>	
		<form method="POST">
			{% csrf_token %}
			<input type = "submit" value = "Editar" onclick = "return confirm ('Deseas Editar el usuario: {{user}}');">
			<input type="hidden" name= "idEditar" value="{{user.id}}">
		</form>	
		<ul>
			<li>{{user.usuario}}</li>
			<li>{{user.mail}}</li>
			<li>{{user.estado}}</li>
		</ul>
		<hr>
		{% endfor %}
</div>